/* Core  */

:before, * , :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: slategrey;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

/*  */


.container {
    width: 500px;
    text-align: center;
    /* display: grid;
    grid-template-columns: auto; */
}

.container > div {
    margin: 3em;
}

.title {
    padding-bottom: 2em;
}

.input-area {
    display: grid;
    grid-gap: 1em;
}

input {
    font-size: 3em;
    width: 3em;
    text-align: center;
}

.time-header {
    text-align: center;
    padding: 1em;
    grid-area: header;

}

.time-hour {
    grid-area: hour;
}

.time-min {
    grid-area: min;
}

.time-colon {
    grid-area: colon;
    padding-top: .5em;
}

.time {
    border: solid black 1px;
    padding: 1em;
    display: grid;
    grid-template-areas: 
    "header header header"
    "hour colon min"
    ;
}
.button-area {
    padding-top: 3em;
}

button {
    padding: .6em 1.5em;
    border-radius: 10px;
    font-size: 1.6em;
}

#error {
    color: red;
}